*
!pyproject.toml
!setup.py
!README.md
!CMakeLists.txt
!MANIFEST.in
!src/piper/*.py
!src/piper/espeakbridge.pyi
!src/piper/espeakbridge.c
!src/piper/tashkeel/*.py
!src/piper/tashkeel/*.json
!src/piper/tashkeel/model.onnx
!src/piper/train/__init__.py

!script/setup
!script/dev_build
!script/package
!docker/entrypoint.sh
